<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

  </head>

  <body>

    <div class="container-fluid">

        <div class="row p-4 bg-primary text-white">
            <div class="col-12 text-center">
                <h1 class="display-1" >Singer's Analysis</h1>
            </div>
        </div>

        <div class="row justify-content-evenly pt-4">
            <div class="col-md-6">

                <form>

                    <div class="input-group mb-3 pt-2">
                    <input type="file" class="form-control" id="inputGroupFile01">
                    </div>

                    <div class="d-grid gap-2 col-md-6 mx-auto pt-2">
                    <button type="submit" class="btn btn-outline-primary" >Analyze</button>
                    </div>

                </form>

            </div>
        </div>

        <div class="row justify-content-evenly pt-5">
            <div class="col-md-8">

                <h2>Achi Baatein ✅</h2>
                <ul class="list-group pt-2">
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                </ul>

            </div>
        </div>

        <div class="row justify-content-evenly pt-5">
            <div class="col-md-8">

                <h2>Kuch Galtiya ❌</h2>
                <ul class="list-group pt-2">
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                </ul>

            </div>
        </div>

        <div class="row justify-content-evenly pt-5">
            <div class="col-md-8">

                <h2>Improve kaise kare ⚠️</h2>
                <ul class="list-group pt-2">
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                </ul>

            </div>
        </div>



    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

  </body>
</html>